BR2_x86_64=y
BR2_KERNEL_HEADERS_5_15=y
BR2_TARGET_GENERIC_HOSTNAME="517OS"
BR2_TARGET_GENERIC_ISSUE="Welcome to 517OS"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="../linux.config"
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
